<div id="main" class="row">
  <div class="large-6 large-6 columns">
    Who'd I Call
  </div>
  <div id="buttons" class="small-4 small-4 small-4 columns">
    <ul class="stack button-group">
      <li><a href="/entries/new" class="button">New Entry</a></li>
      <li><a href="/entries/" class="button">View Entries</a></li>
    </ul>
  </div>
  <div class="large-6 large-6 columns">
  </div>
</div>
