<div class="row">

  <div class="small-1 columns">
    <ul class="stack button-group">
      <li><a href="/entries/new" class="button expand">New Entry</a></li>
      <li><a href="/entries/" class="button expand">View Entries</a></li>
    </ul>
  </div>
</div>
