<div id="main" class="row">
  <div class="columns small-12">
    Who'd I Call
  </div>
  <div class="columns small-2 small-centered">
    <ul class="stack button-group">
      <li><a href="/entries/new" class="button">New Entry</a></li>
      <li><a href="/entries/" class="button">View Entries</a></li>
    </ul>
  </div>
  <div class="columns small-2 small-centered">
  </div>
</div>
