/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color: #354458;

}


h1 {
  color: white;
  text-align: center;
}

label {
  color: white;
}

li {
  color: white;
}

#main {
  /*border: 1px solid black;*/
  text-align: center;
}

/*code for body tag:  http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/

#body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#signup-notice {
  text-align: center;
  color: red;
}

.button {
  width: 100%;
}

.row {

}
